.full-screen-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eef2f5;
  color: black; /* Asegura que el texto por defecto sea negro */
  overflow-y: auto;
}



.upload-content {
  text-align: center;
  color: black; /* Texto negro */
}

.upload-button {
  padding: 14px 28px;
  font-size: 18px;
  background-color: #007bff; /* Azul */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.upload-button:hover {
  background-color: #0056b3;
}

.view-button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #28a745; /* Verde */
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 10px;
}

.view-button:hover {
  background-color: #218838;
  
}

.delete-button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #dc3545; /* Rojo */
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 10px;
}

.delete-button:hover {
  background-color: #c82333;
}

.file-input {
  display: none;
}

.upload-message {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
  color: black;
}

li {
  margin-bottom: 10px;
  color: black;
}

.info-general {
  background-color: #f2f2f2;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  color: black;
}

.search-bar-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.search-bar {
  padding: 8px 12px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 220px;
  outline: none;
  transition: border-color 0.2s;
}

.search-bar:focus {
  border-color: #007bff;
}
